@font-face {
	font-family: "Gravity Book";
	src: url("Gravity-Book.otf");
}

body {
	background: #f93;
	background: linear-gradient(#f93, #f93, #f93, #f93, black);
	text-align: center;
	font-family: "Gravity Book";
}

div.title {
	text-transform: capitalize;
	width:66%;
	font-size: 20px;
	padding-bottom: 20px;
	margin: auto;
}

div#posts {
	background-color: white;
	border-radius: 5px;
	border-width: 2px;
	border-color: #ab491c;
	border-style: solid;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

div.main {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

div.header {
	font-size:24px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

div.content {
	margin: 20px;
	background-color: #ddd;
	border-radius: 5px;
	border-width: 2px;
	border-color: #cc4944;
	border-style: solid;
}

div.date {
	color:#666;
	font-size:10px;
}

div.footer {
	font-size:13px;
	color:#ddd;
	margin-top: 0;
	margin-bottom: 0;
}

div.footer a {
	color: #fff;
	text-decoration: none;
}

div.footer a:hover {
	text-decoration: underline;
}

@media (max-aspect-ratio: 1/1), (max-width: 700px) {
	/* For responsive design*/
	div#posts {
		width: initial;
		margin: initial;
	}
}